<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Linking CSS -->
    <link rel="stylesheet" href="preloader.css">
    <title>anishsingh42</title>
</head>
<body>
    <div id="preloader">
        <div class="static_txt">
            <p>
                Portfolio Website Version['Beta'] <br>
                (c) Anish Singh, All rights reserved.
            </p>

        </div>

        <div  class="static_path side_by_side">
            <p>
                Browser:\SearchEngine:\anishsingh42.io>
            </p>
        </div> 


        <div  class="dynamic_txt side_by_side">
            <p>
                <span>~</span><span>$</span> init anishsingh42.io
            </p>
        </div>

        <div class="init side">Initializing</div>

        <div class="loading_bar">
            <div class="progress side"></div>
        </div>

        <div class="static_path side_by_side path1">
            anishsingh42.io<span>(Portfolio)</span>>
        </div>

        <div  class="dynamic_txt side_by_side dynamic_txt1">
            <p>
                <span>~</span><span>$</span> cd anishsingh42.io/Home
            </p>
        </div>

        <br>
        <div class="static_path side_by_side path2">
            anishsingh42.io<span>(Portfolio)</span>>
        </div>

        <div  class="dynamic_txt side_by_side dynamic_txt2">
            <p>
                <span>~</span><span>$</span> cat home.html
            </p>
        </div>
    </div>
</body>
</html>