*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,whitesmoke , rgba(255, 146, 146,0.89), whitesmoke);
}
.container
{
    text-align: center;
    font-family: 'Comforter Brush', cursive;
}

.prevResult
{
    width: 250px;
    height: 30px;
    word-wrap: break-word;
    background-color: rgb(60, 60, 60);;
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: right;
    padding-right:5px;
}  
.currresult
{
    width: 250px;
    height: 40px;
    word-wrap: break-word;
    background-color: rgb(60, 60, 60);
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: right;
    padding-right:5px;
    
}
.calc
{
    display: inline-block;
    background-color: antiquewhite;
    box-shadow:15px 15px 50px rgb(124, 124, 124);
}
.title
{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}
table
{
    margin: auto;
    table-layout: none;
}
table tr td button{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border: none;
    border-radius:2px;
    background-color:#ffd1dc;
    color: black;
    
}
table tr td button:hover
{
    background-color:#f8ebee;
}